<!DOCTYPE html>
<html lang="en">
<head>
  <title>Location</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="container">


  <form role="form" action="/" method="GET">
  <button type="submit" class="btn btn-primary">Home Page</button>
  </form>
  <h2>Location</h2>
  <!-- Trigger the modal with a button -->


  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Location</button>
  <br>
  <br>
  <br>
  <!--button type="button" class="btn btn-info btn-lg">Viwe </button-->
  <form action="/Location/details/" method='POST'>
  <button type="submit" class="btn btn-info btn-lg">Viwe Location</button>
  </form>
  <br>
  <br>
  <br>
  <table class="table table-hover table-bordered">
      <thead>
      <tr>
          <th  style="text-align:center">
              Location
          </th>

      </tr>
      </thead>
      {% for location in Locations %}
      <tr>
          <td  style="text-align:center">
              {{location[0]}}
          </td>


      </tr>
      {% endfor %}
</table>



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Product</h4>
        </div>
        <div class="modal-body">
          <form role='form' method="POST" action="/Location/">
              <div>
                  <input type='text'  class="form-control"  name='location_id' placeholder="Enter Location Name"  required>
              </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" value="Add" class="btn btn-success" >

        </div>
         </form>
      </div>

    </div>
  </div>

</div>

</body>
</html>

